*{
 margin: 5px;
 padding: 5px;
}
<a>{
	/*text-decoration-color: red;*/
}
#head{
	background-color: red;
	color: white;
}
#Sidebar{
	/*background-color: blue*/;
}
#main{
	/*background-color: blue;*/
}
.blue-text{
	color:blue;
}