*{
 margin: 0px;
 padding: 0px;
 color: white;
 border-radius: 10px;
 text-align: justify;
 vertical-align: top;
 /*font-family: Georgia;*/
}

a{
	color: #66ffff;
}

ul{
	/*display: inline-block;*/
	/*line-height: 12px;*/
	/*display: inline-block;*/
	/*list-style-position: inside; */
	margin-left: 14px;
}

#wrap{
	width: 970px;
	background-color: #001133;
	font-size: smaller;
	margin: 10px;
	padding: 5px;
}

.blue-text{
	color:blue;
}

#head{
	padding: 15px;
	background-color: red;
}

#sidebar{
	width: 140px;
	padding: 10px;
	margin: 10px 5px 10px 0px;
    /*list-style-type: armenian;*/
	/*position: relative;*/
	display: inline-block;
	background-color: #004d4d;
}

#main{
	width: 750px;
	padding: 20px;
	line-height: 14px;
	margin: 10px 0px 15px 10px;
	background-color: black;
	display: inline-block;
}

#footer{
	padding: 15px 10px;
	background-color: #4d4d4d;
}